{% extends "auctions/layout.html" %}

{% block title %}
  {{ category.title }}
{% endblock title %}

{% block body %}
<h2>{{ category.title }}</h2>

<div class="container-fluid">
  {% for listing in listings %}
  {% if listing.active %}
  <a href="{% url 'listing-detail' listing.id%}" style="text-decoration: none">
    <div class="wrapper row gap-3 my-3 border" style="height: 200px">
      <div class="image col-6 col-lg-3" style="height: 100%">
        <img
          src="{{ listing.image_url }}"
          alt="{{ listing.title }}"
          class="w-100"
          style="height: 100%; object-fit: cover"
        />
      </div>
      <div class="info mt-3 text-truncate">
        <h4 class="">{{ listing.title }}</h4>
        <p>price: ${{ listing.current_price|floatformat:2 }}</p>
        <p class="small">{{ listing.description }}</p>
        <p class="small text-muted">{{ listing.created_at }}</p>
      </div>
    </div>
  </a>
  {% endif %}
  {% endfor %}
</div>
{% endblock body %}